<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>San José de gracia</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="homepage is-preload">

		
		<div id="page-wrapper">

			<!-- Header -->

				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo">Bienvenidos</a></h1>
								<hr />
								<p>Patronato Para el Desarrollo Turistico del Cristo Roto</p>
							</header>
							<footer>
								<a href="#banner" class="button circled scrolly">Visitante</a>
							</footer>
						</div>

						<div id="wrap">
  

					<!-- Nav -->
					<nav class="nav-bar-static-top" id="nav" role="navigation">
							<ul>
								<li><a href="index.html">Inicio</a></li>
								
										<li><a href="contacto.html">Contáctanos</a></li>
										<li><a href="login.html">Login</a></li>
								
										
									</ul>
								</li>
								
							</ul>
						</nav>

				</div>
						

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2><strong>Nuestros servicios</strong>.</h2>
						<p>
							San José de Gracia es un bello pueblo mágico que se ha convertido en increíble destino.
							
						</p>
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img  width="200" height="300" src="images/CristoRoto.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Visita al Cristo Roto</a></h3>
							</header>
							<p>El Cristo Roto de la Isla es una de las cinco esculturas más grandes de México. Se encuentra edificada en el corazón de la Presa Presidente Calles.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img width="200" height="300" src="images/paseos.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Paseos especiales</a></h3>
							</header>
							<p>Toma los recorridos que incluyen diferentes atractivos; la Presa Plutarco Elías Calles, la isla del Cristo Roto, los cañones, etc. </p>
						</article>

						<article>
							<a href="#" class="image featured"><img width="200" height="300" src="images/resta.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Restaurantes</a></h3>
							</header>
							<p> Ven y prueba diferentes platillos deliciosos de los distintos restaurantes cerca de la presa en San José de Gracia.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img width="200" height="300"src="images/hotel.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Hospedaje</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img width="200" height="300" src="images/paquetes.jpeg" alt="" /></a>
							<header>
								<h3><a href="#">Paquetes especiales</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img width="200" height="300" src="images/velas.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Eventos </a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img width="200" height="300" src="images/tren.jpg" alt="" /></a>
							<header>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Sed quis rhoncus placerat</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Ultrices urna sit lobortis</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Varius magnis sollicitudin</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

					</div>
				</section>

			<!-- Main -->
				

			<!-- Features -->
				

			<!-- Footer -->
				<div id="footer">
					
						
						<hr />
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3><a href="contacto.html">Contáctanos</a></h3>
										</header>
										<p><a href="registro.html">Registrate</a></p>
										<ul class="icons">
											<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
											<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/form.js"></script>

	</body>
</html>