<!DOCTYPE html>
<html lang="en">
<head>
	<title>Inicio</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<h1><span class="fa fa-block"></span>LOGIN NODEJS</h1>
				<p>iniciar sesion o Registrarse</p>
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Local Login
				</a>
				<a href="/register" class="btn btn-light">
					<span class="fa fa-user"></span> Local Signup
				</a>
			</div>
		</div>
	</div>

</body>
</html>